.page-footer
  background: $footer-bg-color
  padding: 40px 20px

  &__paragraph
    margin: 0
    font-family: $paragraph-font-family
    text-align: center
    color: $primary-font-color

  &__link
    color: $primary-font-color