.section
  &__title
    margin: 0 0 15px 0
    font-family: $heading-font-family
    font-size: $heading-font-size
    color: $primary-font-color
  
  &__inner-wrap
    padding: 40px 20px

    &--about
      background-color: $about-section-bg-color

    &--lol-player
      background-color: $lol-player-section-bg-color
    
    &--offer
      background-color: $offer-section-bg-color

    &--portfolio
      background-color: $portfolio-section-bg-color

    &--contact
      background-color: $contact-section-bg-color

  &__paragraph
    margin: 0
    font-family: $paragraph-font-family
    font-size: $paragraph-font-size
    color: $primary-font-color

  &__header-wrap
    display: flex
    align-items: flex-start
  
  &__header-icon
    margin-left: 20px

  &__text-icon
    display: block
    margin: 0 auto