$primary-font-color: #444444
$secondary-font-color: #06D6A0

$paragraph-font-size: 18px
$heading-font-size: 30px

$logo-font-family: 'Play', sans-serif
$heading-font-family: 'Montserrat', sans-serif
$paragraph-font-family: 'Open Sans', sans-serif

$page-header-bg-color: #ffffff
$about-section-bg-color: #FB4735
$lol-player-section-bg-color: #118AB2
$offer-section-bg-color: #0AB78A
$portfolio-section-bg-color: #DCA014
$contact-section-bg-color: #073B4C
$footer-bg-color: #292F36